
.logo{
	width: 100%;
	margin-left:auto;
	margin-right: auto;
}

.button{
	background-color: #33CCCC !important;


}
#container{
	margin-right: 5%;
	margin-left: 5%;
}

.form{
	font-family:"Trebuchet MS";
}

#loginError{
	color: red;
	font-style: italic;
	font-weight: 100;
}